/* .markdown-wrapper pre {
  background-color: rgb(48, 49, 57);
  color: #f8f8f2;
  border-radius: 10px;
}

.markdown-wrapper code:not(pre code) {
  background-color: #f0f0f0; 
  color: #d63384; 
}

.markdown-wrapper pre code {
  background-color: #f0f0f0; 
  color: #d63384;
  border-radius: 7px;
  border: none;
} */